#home_page {
  min-height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  .avatar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar_container {
      width: 70%;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.5);
    }
  }
  .opening {
    font-size: 3rem;
    flex: 1;
    text-align: center;
  }
}
@media (max-width:600px) {
  #home_page {
    .opening {
      font-size: 2rem;
      
    }
}
}